@using BusinessLayer.DTO.UserDto.Request
@model UserAddDto
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout_unknown.cshtml";
}
<link href="~/CSS/StyleRegistration.css" rel="stylesheet" />

<form asp-controller="User" asp-action="RegistrationPost" method="post">

    <div>
        <h1>Registration</h1>
    </div>

    <div class="form-field">
        <input asp-for="Name" type="text" placeholder="Name" required />
    </div>

    <div class="form-field">
        <input asp-for="UserName" type="text" placeholder="Username" required />
    </div>

    <div class="form-field">
        <input asp-for="Email" type="email" placeholder="Email" />
    </div>

    <div class="form-field">
        <input asp-for="Password" type="password" placeholder="Password" required />
    </div>

    <div class="form-field">
        <input asp-for="DateOfBirth" type="date" placeholder="Date Of Birth" required />
    </div>

    <div class ="form-field">
        <select asp-for="RoleId" asp-items="@ViewBag.Roles">
            <option value="">Please select role</option>
        </select>
    </div>

    <div>
        @if (ViewData["Errors"] != null)
        {
            <div class="text-red">
                <ul>
                    @foreach (string error in ViewBag.Errors)
                    {
                        <li class="ml">@error</li>
                    }
                </ul>
            </div>
        }
        
    </div>

    <div class="form-field">
        <button class="btn-reg"><a asp-controller="User" asp-action="Enter">Login</a></button>
        <button class="btn" type="submit">Registration</button>
    </div>


</form>
