<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/StyleNavBar.css" rel="stylesheet" />
</head>
<body>
    <div>
        <ul class="menu">

            <li title="home"><a class="menu-button home">menu</a></li>

            <li title="search" class="for_search">

                <form class="search-box" asp-action="TaskDetailsByTitle" asp-controller="Task" method="post">

                        <input name="titleTask" class="search-txt" placeholder="Search...">

                        <button type="submit" class="search-btn">

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>

                        </button>
                </form>
            </li>
            <li title="add"><a asp-controller="Task" asp-action="AddNewTask" class="pencil">add</a></li>
            <li title="about"><a href="#" class="active about">about</a></li>
            <li title="archive"><a href="#" class="archive">archive</a></li>
            <li title="contact"><a asp-controller="Contact" asp-action="Feedback" class="contact">contact</a></li>
        </ul>

        <ul class="menu-bar">
            <li><a href="#" class="menu-button">Menu</a></li>
            <li><a asp-controller="Task" asp-action="Home">Home</a></li>
            <li><a asp-controller="Task" asp-action="AddNewTask">Add Task</a></li>
            <li><a asp-controller="Category" asp-action="Categories">Categories</a></li>
            <li><a asp-controller="Task" asp-action="AboutApplication">About</a></li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $(".menu-button").click(function () {
            $(".menu-bar").toggleClass("open");
        });
    });
</script>
