@{
    ViewBag.Title = "About Application";
    Layout = "~/Views/Shared/_Layout_task.cshtml";
}
<link href="~/CSS/StyleTaskDetails.css" rel="stylesheet" />

<div id="bg_about"></div>
<div class="task-details-container">
    <div class="task-details">
        <h1>About</h1>
        <p><strong>Description: </strong>This application will help you set tasks and monitor their implementation</p>
        <p><strong>Author: </strong>Evgene Brexynchenko</p>
        <p><strong>Email: </strong>eugene.brexyn@gmail.com</p>
    </div>
</div>
