@model TaskAddDto
@{
    ViewBag.Title = "Add Task";
    Layout = "~/Views/Shared/_Layout_task.cshtml";
}

<link href="~/CSS/StyleAddTask.css" rel="stylesheet" />

<div class="app">
    <div class="body-add">
        <form asp-controller="Task" asp-action="AddNewTaskPost" method="post" id="form-main">

            <div>
                <h1>Add new Task</h1>
            </div>

            <div class="form-field">
                <input asp-for="Title" type="text" placeholder="Title" required />
            </div>

            <div class="form-field">
                <textarea asp-for="Description" placeholder="Description"></textarea>
            </div>

            <div class="form-field">
                <input asp-for="FinishTime" type="date" placeholder="Date Of Birth" required />
            </div>

            <div class="form-field">
                <select asp-for="CategoryId" asp-items="@ViewBag.Categories" required>
                    <option value="">Please select Category</option>
                </select>
            </div>

            <input asp-for="Status" type="hidden" value="@StatusTask.Active" />

            <div>

                <strong><span asp-validation-for="Title" style="color:red;"></span></strong>

                @if (ViewBag.Errors != null)
                {
                    <div>
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml"><strong style="color:red;">@error</strong></li>
                            }
                        </ul>
                    </div>
                }
            </div>

            <div class="form-field">
                <button class="btn-reg"><a asp-controller="Task" asp-action="Home">Home</a></button>
                <button class="btn" type="submit">Add</button>
            </div>

        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>