@using TaskManager.Dto.Tasks.Response
@model TaskDto
@{
    ViewBag.Title = "Task Details";
    Layout = "~/Views/Shared/_Layout_task.cshtml";
}
<link href="~/CSS/StyleTaskDetails.css" rel="stylesheet" />
<div id="bg"></div>
<div class="task-details-container">
    <div class="task-details">
        <h1>@Model.Title</h1>
        @if(Model.Description != null)
        {
            <p><strong>Description:</strong> @Model.Description</p>
        }
        <p><strong>Finish time:</strong> @Model.FinishTime.ToString("yyyy-MM-dd")</p>
        <p><strong>Category Name:</strong> @Model.Category.Name</p>
    </div>
</div>