@using TaskManager.Dto.Users.Request
@model UserEnterDto
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_unknown.cshtml";
}
<link href="~/CSS/StyleEnter.css" rel="stylesheet" />


<form asp-controller="Account" asp-action="EnterPost" method="post">
    <div>
        <h1>Login</h1>
    </div>

    <div class="form-field">
        <input asp-for="UserName" type="text" placeholder="Username" required />
    </div>

    <div class="form-field">
        <input asp-for="Password" type="password" placeholder="Password" required />
    </div>

    <div class="color-red">
        @if (ViewBag.Errors != null)
        {
            <div>
                <ul>
                    @foreach (string error in ViewBag.Errors)
                    {
                        <li class="ml">@error</li>
                    }
                </ul>
            </div>
        }
        @if (ViewBag.Message != null)
        {
            <div>
                <ul>
                    <li class="ml">@ViewBag.Message</li>
                </ul>
            </div>
        }
    </div>

    <div class="form-field">
        <button class="btn-reg"><a asp-controller="Account" asp-action="Registration">Registration</a></button>
        <button class="btn" type="submit">Log in</button>
    </div>
</form>
