@model UserRestoreDto
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Layout_unknown.cshtml";
}

<link href="~/CSS/StyleEnter.css" rel="stylesheet" />

<form asp-controller="Account" asp-action="RestorePasswordPost" method="post">
    <div>
        <h1>Reset password</h1>
    </div>

    <div class="form-field">
        <input asp-for="UserName" type="text" placeholder="Username" required />
    </div>

    <div class="form-field">
        <input asp-for="Email" type="email" placeholder="Email" required />
    </div>

    <div class="color-red">
        @if (ViewBag.Errors != null)
        {
            <div>
                <ul>
                    @foreach (string error in ViewBag.Errors)
                    {
                        <li class="ml">@error</li>
                    }
                </ul>
            </div>
        }
        @if (ViewBag.Message != null)
        {
            <div>
                <ul>
                    <li class="ml">@ViewBag.Message</li>
                </ul>
            </div>
        }
    </div>

    <div class="form-field">
        <a asp-controller="Account" asp-action="Login"><button class="btn-reg" type="button">Login</button></a>
        <button class="btn" type="submit">Submit</button>
    </div>
</form>
