@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

#bg {
    background-image: url('/Pictures/bacround-task-details.jpg');
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
